{% extends 'base.html' %}


{% block content %}
<h1>Message board homepage</h1>
<ul>
  {% for post in object_list %}
    <li>{{ post.text }}</li>
  {% endfor %}
</ul>
{% endblock content %}
<!-- templates/home.html -->
